In [1]:
DWH_ENDPOINT='dwhcluster.clr54gpvynpf.us-west-2.redshift.amazonaws.com'
DWH_DB='dwh'
DWH_DB_USER='dwhuser'
DWH_DB_PASSWORD='Passw0rd'
DWH_PORT=5439

In [2]:
%load_ext sql

In [3]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.clr54gpvynpf.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [14]:
qry = """
    select
        s.user_id,
        concat(u.first_name, u.last_name) as user_name,
        count(distinct s.songplay_id) as songplay_number
    from
        songplays as s
    join
        users as u on (s.user_id = u.user_id)
    group by s.user_id, user_name
    order by songplay_number desc
    limit 10
"""
%sql $qry

 * postgresql://dwhuser:***@dwhcluster.clr54gpvynpf.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('49', 'ChloeCuevas', 41),
 ('80', 'TeganLevine', 31),
 ('97', 'KateHarrell', 28),
 ('44', 'AleenaKirby', 20),
 ('73', 'JacobKlein', 18),
 ('88', 'MohammadRodriguez', 17),
 ('15', 'LilyKoch', 15),
 ('24', 'LaylaGriffin', 13),
 ('29', 'JacquelineLynch', 13),
 ('36', 'MatthewJones', 11)]